@import '~styles/theme/theme.scss';

.root {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: $d8x-border-radius;
  border: 1px solid var(--d8x-block-border-color);
  overflow: hidden;
}

.infoBlock {
  padding-left: 0;
  padding-top: $d8x-spacing * 4;
  width: 274px;
}

.actionBlock {
  flex: 1;
  background-color: var(--d8x-color-background-items);
  padding: $d8x-spacing * 8;
}

.separator {
  margin-bottom: 0;
}

.text {
  margin-top: $d8x-spacing * 4;
  margin-bottom: $d8x-spacing * 4;
}

.withdrawContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
  
  .infoBlock {
    flex: 1;
  }
  
  .verticalSeparator {
    width: 1px;
    background-color: var(--d8x-color-separator-border);
    margin: 0 3 rem;
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
    
    .verticalSeparator {
      display: none;
      height: 1px;
      width: 100%;
      margin: 3rem 0;
    }
  }
}

@media screen and ($d8x-breakpoint-max-sm) {
  .root {
    display: block;
  }

  .infoBlock {
    background-color: var(--d8x-color-background-items);
    border-radius: $d8x-border-radius;
    margin-bottom: $d8x-spacing * 4;
    padding: $d8x-spacing * 6;
    width: auto;
  }

  .actionBlock {
    border-radius: $d8x-border-radius;
    padding: $d8x-spacing * 6;
  }
}
