@import '~styles/theme/theme.scss';

.root {
  width: 100%;
}

.tableHolder {
  border-radius: $d8x-border-radius;
  overflow: hidden;
}

.withBackground {
  background-color: var(--d8x-color-background-items);
  box-shadow: var(--d8x-shadow);
}

.tableHead {
  background-color: var(--d8x-color-background-table-head);
  
  th {
    padding: $d8x-spacing * 1.5;
    font-weight: 600;
    color: var(--d8x-color-text-label);
  }
}

.tableBody {
  .tableRow {
    border-bottom: 1px solid var(--d8x-color-divider);
    
    &:hover {
      background-color: var(--d8x-color-background-hover);
    }
  }

  tr {
    background-color: var(--d8x-color-background-table-row-default);

    &:nth-child(2n) {
      background-color: var(--d8x-color-background-table-even-row);
    }
  }
  
  td {
    padding: $d8x-spacing * 1.5;
    color: var(--d8x-color-text);
    
    &.cellLeft {
      text-align: left;
    }
    
    &.cellRight {
      text-align: right;
    }
  }
}

.footer {
  padding: $d8x-spacing;
  border-top: 1px solid var(--d8x-color-divider);
  margin-top: -1px;
  color: var(--d8x-color-text-label);
  font-size: 14px;
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $d8x-spacing * 3;
  color: var(--d8x-color-text-label);
}

.blocksHolder {
  padding: 0 6 * $d8x-spacing;

  @include media-phone {
    padding: 0 4 * $d8x-spacing;
  }
}

.block {
  border: 1px solid var(--d8x-color-border);
  border-radius: $d8x-border-radius;
  margin-top: 6 * $d8x-spacing;
  overflow: hidden;
}

.headerWrapper,
.dataWrapper {
  padding: 4 * $d8x-spacing;
}

.headerWrapper {
  display: flex;
  align-items: center;
  background-color: var(--d8x-color-background-items-second);
  border-radius: $d8x-border-radius $d8x-border-radius 0 0;
}

.leftSection {
  flex: 1;
}

.dataWrapper {
  display: flex;
  flex-direction: column;
  gap: 2 * $d8x-spacing;
}

.blockRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockLabel {
  color: var(--d8x-color-text-main);
  font-weight: 500;
  font-size: 14px;
}

.blockValue {
  color: var(--d8x-color-text-label-one);
  font-size: 14px;
}

.blockHighlight {
  color: var(--d8x-color-text-highlight);
}
