@import 'styles/theme/theme';

.root {
  display: flex;
}

.infoBlock {
  width: 100%;
  max-width: 280px;
  padding: $d8x-spacing * 8 $d8x-spacing * 8 $d8x-spacing * 8 0;
  border-right: 1px solid var(--d8x-separator-border-color);

  .text {
    color: var(--d8x-color-black-400);
    margin-top: $d8x-spacing * 4;
    margin-bottom: $d8x-spacing * 4;
  }
}

.contentBlock {
  width: 100%;
  max-width: 470px;
  padding: $d8x-spacing * 8;
}

.inputLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $d8x-spacing;
  height: 40px;

  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  :global(.MuiButtonBase-root) {
    padding: 9px 15px;
    border-radius: $d8x-border-radius;

    &.selected {
      font-weight: bold;
      background-color: var(--d8x-background-purple);
    }
  }
}

.summaryBlock {
  margin-top: $d8x-spacing * 2;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--d8x-background);

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: $d8x-spacing / 2;
    color: var(--d8x-color-black-opac);
  }
}

.actionButton {
  margin-top: $d8x-spacing * 8;
}

@media screen and ($d8x-breakpoint-max-sm) {

  .root {
    display: block;
  }

  .infoBlock {
    display: none;
  }

  .contentBlock {
    padding: $d8x-spacing * 8 0;
  }
}
