@import '~styles/theme/_theme.scss';

.dialog {

  :global(.MuiPaper-root) {
    max-width: initial;
  }
}

.filterBlock {
  display: flex;
  gap: $d8x-spacing * 2;
  align-items: center;
  flex-wrap: wrap;
}

.modalActions {
  margin: auto;
}

.dateInput {
  height: 48px;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 8px;
  border: 1px solid var(--d8x-color-black-opac);
  outline: none;

  &:focus,
  &:hover {
    border-color: var(--d8x-color-black-opac);
    background-color: rgba(var(--d8x-color-purple-rgb), 0.2);
  }
}
