@import '~styles/theme/theme.scss';

.root {
  flex: 1;
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
  background-color: var(--d8x-color-background-items);
  border-radius: 0 $d8x-border-radius $d8x-border-radius 0;
  max-width: 400px;
}

.title {
  font-weight: 600;
  color: var(--d8x-color-text-main);
  margin-bottom: $d8x-spacing * 6;
}

.note {
  display: inline-block;
  margin-bottom: $d8x-spacing * 6;
}

.button {
  width: 100%;
}

.dialog {
  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 450px;
  }
}

.dialogRoot {
  width: 100%;
  padding: 6 * $d8x-spacing 0 4 * $d8x-spacing 0;
  text-align: center;
}

.dialogAction {
  justify-content: center;
}
